{{!-- <style>
    body{
        background-color: azure;
    }
</style> --}}
<div class="container-fluid">
{{#if checkFalse}}
{{>navLogout}}
{{/if}}
{{#if checkTrue}}
{{>navLogin}}
{{/if}}

<h2 class="docs-header">ADDING PROJECT</h2>

<div style="display:flex; justify-content:center;flex-direction: column; align-items:center;box-shadow: 0px 15px 10px -15px black; padding:20px; ">
<h4 style="margin-top:40px; "><i style="color:#657a00;"class="fas fa-star"></i> First of all, go to the projects page and click “ADD PROJECT” button. </h4>
<img src="/assets/images/d1.png" style="width:70%; box-shadow:0px 0px 20px  black;margin:10px;">



<h4 style="margin-top:40px; "><i style="color:#657a00;"class="fas fa-star"></i> Write the name and url of the project in the inputs respectively, then click the "Create Project" button.</h4>
<img src="/assets/images/d2.png" style="width:70%; box-shadow:0px 0px 20px  black; margin:10px;">
</div>

<h2 class="docs-header">SETUP & CONFIGURATION</h2>
<div style="display:flex; justify-content:center;flex-direction: column; align-items:center;box-shadow: 0px 15px 10px -15px black; padding:20px;">
<h4 style="margin-top:40px; "><i style="color:#657a00;"class="fas fa-star"></i> You can see the Setup and Configuration by clicking the script button.</h4>
<img src="/assets/images/d3.png" style="width:70%; box-shadow:0px 0px 20px  black;margin:10px;">
<img src="/assets/images/d4.png" style="width:70%; box-shadow:0px 0px 20px  black;margin:10px;">

</div>


<h2 class="docs-header">DELETE THE PROJECT</h2>
<div style="display:flex; justify-content:center;flex-direction: column; align-items:center;box-shadow: 0px 15px 10px -15px black; padding:20px;">
<h4 style="margin-top:40px; "><i style="color:#657a00;"class="fas fa-star"></i>You can delete the project by clicking the trash icon next to its name and confirming the warning.</h4>
<img src="/assets/images/d3.png" style="width:70%; box-shadow:0px 0px 20px  black;margin:10px;">
<img src="/assets/images/d5.png" style="width:70%; box-shadow:0px 0px 20px  black;margin:10px;">

</div>
</div>
 <footer class="container-fluid  text-center p-4  border-top rounded border-dark"
        style="background:black; margin-top:50px;">

        <p class="text-light  m-0">P-Errmon - EA Bootcamp - © 2021 - All Rights Reserved</p>
    </footer>
</div>
</div>