<div class="container-fluid">


{{>navLogout}}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button
      class="btn btn-outline-dark"
      type="button"
      data-toggle="modal"
      data-target="#addProject"
      style="margin:10px;"
    ><i class="fas fa-plus"></i> ADD PROJECT</button>
  </div></div>



  {{#if projects}}
{{#each projects}}
<div  style="display:flex;flex-direction:row;float:left;">
<div class="card bg-dark text-light m-4" style="box-shadow: 0px 0px 10px  rgba(0,0,0,0.75); width:220px;">
  <div class="card-header" style="text-align:center;">
    {{this.name}}  <i data-project_id="{{this.project_id}}" class="fas fa-trash-alt trash-bin" style="color:#ff0028; margin:10px;cursor:pointer;"></i>
  </div>
  <div class="card-body bg-dark">
  <button class="btn btn-outline-light" type="button" 
       data-toggle="modal"
      data-target="#{{this.name}}">Script</button></div>
</div>
</div>
{{>keys}}
{{/each}}
  {{/if}}


{{>createProject}}
</div>